<div class="bootstrap-wrapper">
    <div class="container">
        <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Total Quizzes</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ totalQuizzes }}</p>
            </mat-card-content>
          </mat-card>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Published Quizzes</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ publishedQuizzes }}</p>
            </mat-card-content>
          </mat-card>
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>Total Question Papers</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ totalQuestionPapers }}</p>
            </mat-card-content>
          </mat-card>
    </div>
</div>