<div class="bootstrap-wrapper">
    <div class="container">
        <mat-card class="mat-card">
            <mat-card-header>
              <mat-card-title class="title">Total Quizzes Available</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ totalQuizzes }}</p>
            </mat-card-content>
          </mat-card>
          <mat-card class="mat-card">
            <mat-card-header>
              <mat-card-title class="title">Published Quizzes</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ publishedQuizzes }}</p>
            </mat-card-content>
          </mat-card>
          <mat-card class="mat-card">
            <mat-card-header>
              <mat-card-title class="title">Total Question Papers</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ totalQuestionPapers }}</p>
            </mat-card-content>
          </mat-card>
    </div>
</div>