<app-navbar  (toggleSidebarEvent)="toggleSidebar()"></app-navbar>
    <mat-drawer-container class="mat-card" autosize>
    <mat-drawer class="mat-card"  #drawer opened="isSidebarOpen" [style.width]="sidebarWidth()" mode="side" position="start">
    <mat-nav-list class="theme-text">
        <mat-list-item  routerLinkActive="active" [class.active]="dashboardActive">
            <button mat-button class="theme-text" (click)="toggleDashboardActive()" routerLink="/adminDashboard">
                <mat-icon>dashboard</mat-icon>
               <span>Dashboard</span>  
            </button>
        </mat-list-item>
        <mat-list-item routerLinkActive="active" >
            <button mat-button class="theme-text" (click)="toggleDashboardDeActive()" routerLink="/adminDashboard/profile">
                <mat-icon>account_circle</mat-icon>
               <span>Profile</span> 
            </button>
        </mat-list-item>
       <mat-list-item routerLinkActive="active" >
        <button mat-button class="theme-text" (click)="toggleDashboardDeActive()" routerLink="/adminDashboard/categories">
            <mat-icon>category</mat-icon> 
            <span>Quiz Categories</span>
        </button>
       </mat-list-item>
       <mat-list-item routerLinkActive="active">
        <button mat-button class="theme-text" (click)="toggleDashboardDeActive()" routerLink="/adminDashboard/add-category">
            <mat-icon>add_circle_outline</mat-icon>
            <span>Category</span>  
        </button>
       </mat-list-item>
        <mat-list-item routerLinkActive="active">
            <button mat-button class="theme-text" (click)="toggleDashboardDeActive()" routerLink="/adminDashboard/quiz">
                <mat-icon>quiz</mat-icon>
                <span>Quizzes</span>
            </button>
        </mat-list-item>
        <mat-list-item routerLinkActive="active">
            <button mat-button class="theme-text" (click)="toggleDashboardDeActive()" routerLink="/adminDashboard/add-quiz">
                <mat-icon>add</mat-icon>
                <span>Add Quiz</span>
            </button>
        </mat-list-item>
       <mat-list-item routerLinkActive="active">
        <button mat-button class="theme-text" (click)="toggleDashboardDeActive()" routerLink="/adminDashboard/questionPapers">
            <mat-icon>description</mat-icon>
            <span>Question Papers</span>
        </button>
       </mat-list-item>
        <mat-list-item routerLinkActive="active">
            <button mat-button class="theme-text" (click)="toggleDashboardDeActive()" routerLink="/adminDashboard/add-question-paper">
                    <mat-icon>add</mat-icon>
                    <span>Add Question Paper</span>
            </button>
        </mat-list-item>
    </mat-nav-list>
    </mat-drawer>

    <mat-drawer-content>
        <div style="min-height: 1500px;width: 100%;">
      <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
    </mat-drawer-container>
