.active {
    border-left: 5px solid;
    background-color: #ccc; 
    border-left-color: black !important;

}


.menu-item{
    border-left-color: rgba(0,0,0,0);
    color: white !important;
}

mat-drawer,mat-drawer-content{
    transition: all 500ms ease-in-out;
    color: white !important;
}
