<mat-card class="mat-card">
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/adminDashboard">
            <div class="mat-item">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </div>
        </button>
        <button mat-list-item routerLink="/adminDashboard/profile">
            <div class="mat-item">
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
        </div>
        </button>
        <button mat-list-item routerLink="/adminDashboard/categories">
            <div class="mat-item">
            <mat-icon>category</mat-icon> 
            <span>Categories</span>
        </div>
        </button>
        <button mat-list-item routerLink="/adminDashboard/add-category">
            <div class="mat-item">
            <mat-icon>add_circle_outline</mat-icon> 
            <span>Add Category</span>
        </div>
        </button>
        <button mat-list-item routerLink="/adminDashboard/quiz">
            <div class="mat-item">
            <mat-icon>quiz</mat-icon>
            <span>Quiz</span>
                </div>
        </button>
        <button mat-list-item routerLink="/adminDashboard/add-quiz">
            <div class="mat-item">
            <mat-icon>add</mat-icon>
            <span>Add Quiz</span>
                </div>
        </button>


        <button mat-list-item routerLink="/adminDashboard/questionPapers">
            <div class="mat-item">
            <mat-icon>description</mat-icon>
            <span>Question Papers</span>
        </div>
        </button>

        <button mat-list-item routerLink="/adminDashboard/add-question-paper">
            <div class="mat-item">
                <mat-icon>add</mat-icon>
                <span>Add QP</span>
            </div>
        </button>
        <button mat-list-item  routerLink="/signup">
            <div class="mat-item">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
                </div>
        </button>
    </mat-action-list>
</mat-card>