<mat-card>
    <h3>Profile</h3>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">

                <div class="container text-center">
                    <img src="https://www.pngarts.com/files/10/Default-Profile-Picture-Transparent-Image.png" alt="profile"
                    class="profile-pic">

                    <h3 class="mt-4">Amit Hegde</h3>
                </div>



                <div class="row">
                    <div class="col-md-10 offset-md-1">
                      <table class="table text-center">
                        <tr>
                            <td>Username</td>
                            <td>Amit</td>
                        </tr>
                        <tr>
                            <td>Firstname</td>
                            <td>Amit</td>
                        </tr>
                        <tr>
                            <td>Lastname</td>
                            <td>Amit</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>Amit</td>
                        </tr>
                        <tr>
                            <td>Phone</td>
                            <td>Amit</td>
                        </tr>
                        <tr>
                            <td>Role</td>
                            <td>Amit</td>
                        </tr>
                      </table>
                    </div>
                </div>
            </div>
        </div>


    </mat-card-content>
</mat-card>