<mat-card class="mat-card">
    <mat-list>
      <div mat-subheader class="theme-text text-center">All Categories</div>
      <mat-list-item *ngFor="let category of categories" class="category-item">
        <div class="list-item">
        <mat-icon mat-list-icon class="theme-text">category</mat-icon>
          <span class="theme-text">{{ category.title }}</span>
          <button mat-raised-button (click)="deleteCategory(category.cid)" color="warn" style="margin-left: 50px;font-size: small;width: 5px;height: 25px;" >Delete</button>
        </div>
        
      </mat-list-item>
    </mat-list>
    <div class="container text-center" style="margin-top: 20pt;margin-bottom: 20pt;">
        <button routerLink="/adminDashboard/add-category" mat-raised-button color="primary">Add Category</button>
    </div>
  </mat-card>
  