<mat-card *ngFor="let quiz of quizzes" style="margin-top: 10px;" class="mat-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title class="theme-text">{{quiz.title}}</mat-card-title>
        <mat-card-subtitle class="theme-text">{{quiz.category.title}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>{{quiz.description}}</mat-card-content>
    <mat-card-actions>
        <button [routerLink]="'/adminDashboard/view-questions/'+ quiz.qid+'/'+ quiz.title" mat-raised-button color="primary">Questions</button>
        <button  mat-stroked-button color="primary" style="margin-left: 5px;">Max Marks {{quiz.maxMarks}}</button>
        <button  mat-stroked-button color="primary" style="margin-left: 5px;">Questions: {{quiz.numberOfQuestions}}</button>
        <button mat-stroked-button   [routerLink]="quiz.active ? '/adminDashboard/quiz-result/' + quiz.qid : ''" color="primary" *ngIf="quiz.active" style="margin-left: 5px;">Attempts</button>
        <button mat-stroked-button color="primary" *ngIf="!quiz.active" (click)="showAlert()" style="margin-left: 5px;">Attempts</button>
        <button [routerLink]="'/adminDashboard/update-quiz/' + quiz.qid" mat-flat-button color="primary" style="margin-left: 5px;">Update</button>
        <button (click)="deleteQuiz(quiz.qid)" mat-raised-button color="warn" style="margin-left: 5px;">Delete</button>

    </mat-card-actions>
</mat-card>
<div class="container text-center mt-4">
    <button mat-raised-button color="primary" routerLink="/adminDashboard/add-quiz">Add Quiz</button>
</div>
