<div class="bootstrap-wrapper">
    <div class="row">
      <div class="col-md-12">
        <mat-card class="mat-card">
          <mat-card-header>
            <mat-card-subtitle>
              <span class="theme-text">Enter Details Of New Question</span>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <form>
              <mat-form-field class="mt-2" style="width: 100%;">
                <mat-label>Write the Question</mat-label>
                <textarea rows="7" name="questionContent" [(ngModel)]="question.questionContent" matInput
                  placeholder="enter here"></textarea>
              </mat-form-field>
  
              <div class="row text-center">
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>Marks</mat-label>
                    <input type="number" matInput name="Marks" [(ngModel)]="question.marks">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>CO</mat-label>
                    <input type="text" matInput name="CO" [(ngModel)]="question.co">
                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field>
                    <mat-label>BTL</mat-label>
                    <input type="text" matInput name="BTL" [(ngModel)]="question.btl">
                  </mat-form-field>
                </div>
              </div>
  
         
              <div class="mt-3 text-center" *ngFor="let subQuestion of question.subQuestions; let i = index">
                <hr>
                <mat-form-field  style="margin-right: 20px;">
                  <mat-label>Sub-Question {{ i + 1 }}</mat-label>
                  <input type="text" name="Sub-Question {{ i + 1 }}" matInput [(ngModel)]="subQuestion.questionContent">
                </mat-form-field>
                <mat-form-field style="margin-right: 20px;">
                  <mat-label>Marks</mat-label>
                  <input type="number" name="Marks" matInput [(ngModel)]="subQuestion.marks">
                </mat-form-field>
                <mat-form-field style="margin-right: 20px;">
                  <mat-label>CO</mat-label>
                  <input type="text" matInput  name="CO" [(ngModel)]="subQuestion.co">
                </mat-form-field>
                <mat-form-field style="margin-right: 20px;">
                  <mat-label>BTL</mat-label>
                  <input type="text" matInput name="BTL" [(ngModel)]="subQuestion.btl">
                </mat-form-field>
              </div>
  
         
              <div class="container text-center mt-3">
                <button mat-raised-button color="primary" (click)="addSubQuestion()">Add Sub-Question</button>
              </div>
  
       
              <div class="container text-center mt-3">
                <button type="submit" (click)="addQuestion()" color="primary" mat-raised-button>Add</button>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  
