<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/userDashboard/0">
            <div class="mat-item">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </div>
        </button>
 
        <button mat-list-item *ngFor="let c of categories">
            <div class="mat-item">
            <mat-icon>category</mat-icon>
            <span>{{c.title}}</span>
                </div>
        </button>
        
    </mat-action-list>
</mat-card>
