<div class="bootstrap-wrapper">
    <div class="container" style="margin-top: 160px;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1 class="text-center">Signup</h1>

                <form>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>username</mat-label>
                        <input matInput placeholder="Enter Here">   
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>firstname</mat-label>
                        <input matInput placeholder="Enter Here">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>lastname</mat-label>
                        <input matInput placeholder="Enter Here">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>email</mat-label>
                        <input matInput placeholder="Enter Here">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>phone</mat-label>
                        <input matInput placeholder="Enter Here">
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>password</mat-label>
                        <input type="password" matInput placeholder="Enter Here">
                    </mat-form-field>
                    <div class="container">
                        <button class="btn1" mat-raised-button color="primary">Signup</button>
                        <button class="btn2" mat-raised-button color="warn">Reset</button>
                    </div>
                
                </form>
            </div>

        </div>
    </div>
</div>
