<app-navbar></app-navbar>
<div class="bootstrap-wrapper">
    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="mat-card">
                <h1 class="text-center mt-4">Signup</h1>
                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="full-width" 
                    appearance="outline">
                        <mat-label>username</mat-label>
                        <input required
                        name="username"
                        [(ngModel)]="user.username" 
                        matInput placeholder="Enter Here">   
                    </mat-form-field>
                    <mat-form-field class="full-width" 
                    appearance="outline">
                        <mat-label>firstname</mat-label>
                        <input required name="firstname"
                        [(ngModel)]="user.firstName"
                        matInput placeholder="Enter Here">
                    </mat-form-field>
                    <mat-form-field class="full-width" 
                    appearance="outline">
                        <mat-label>lastname</mat-label>
                        <input required name="lastname"
                        [(ngModel)]="user.lastName" 
                        matInput placeholder="Enter Here">
                    </mat-form-field>
                    <mat-form-field class="full-width" 
                    appearance="outline">
                        <mat-label>email</mat-label>
                        <input required name="email"
                        [(ngModel)]="user.email"
                         matInput placeholder="Enter Here">
                    </mat-form-field>
                    <mat-form-field class="full-width" 
                    appearance="outline">
                        <mat-label>phone</mat-label>
                        <input required name="phone"
                        [(ngModel)]="user.phone"
                         matInput placeholder="Enter Here">
                    </mat-form-field>
                    <mat-form-field class="full-width" 
                    appearance="outline">
                        <mat-label>password</mat-label>
                        <input required name="password"
                        [(ngModel)]="user.password"
                         type="password" matInput 
                        placeholder="Enter Here">
                    </mat-form-field>
                    <div class="container text-center">
                        <button type="submit" class="btn m-2" 
                        mat-raised-button color="primary">Signup</button>
                        <button mat-raised-button 
                        color="warn">Clear</button>
                    </div>
                </form>
                </mat-card>
            </div>

        </div>
    </div>
</div>
