<mat-card class="mat-card">
    <mat-card-title class="text-center mt-4">Update Question Paper</mat-card-title>
    <div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
    <form class="text-center mt-4">
        <mat-form-field class="w100" appearance="outline">
            <mat-label class="theme-text">College Name</mat-label>
            <input class="theme-text"
            [(ngModel)]="questionPaper.collegeName"
            type="text" placeholder="enter collegeName" 
            name="collegeName" matInput
            required
            >
            </mat-form-field>
            <div class="w100">
                <mat-form-field class="w40" style="margin-right: 10px;" appearance="outline">
                    <mat-label class="theme-text">Institution</mat-label>
                    <input class="theme-text"
                    [(ngModel)]="questionPaper.institutionName"
                    type="text" placeholder="enter institution name" 
                    name="Institution" matInput
                    required
                    >
                    </mat-form-field>

            <mat-form-field class="w40"  appearance="outline">
                <mat-label class="theme-text">Department</mat-label>
                <input class="theme-text"
                [(ngModel)]="questionPaper.department"
                type="text" placeholder="enter Department name" 
                name="Department" matInput
                required
                >
                </mat-form-field>
            </div>
            <div class="w100">
                <mat-form-field class="w40" style="margin-right: 10px;" appearance="outline">
                    <mat-label class="theme-text">ExamType</mat-label>
                    <input class="theme-text"
                    [(ngModel)]="questionPaper.examType"
                    type="text" placeholder="enter Type of exam" 
                    name="ExamType" matInput
                    required
                    >
                    </mat-form-field>

            <mat-form-field class="w40"  appearance="outline">
                <mat-label class="theme-text">Semester</mat-label>
                <input class="theme-text"
                [(ngModel)]="questionPaper.semester"
                type="text" placeholder="enter Semester" 
                name="Semester" matInput
                required
                >
                </mat-form-field>
            </div>
                <div class="w100">
                    <mat-form-field class="w40" style="margin-right: 10px;" appearance="outline">
                        <mat-label class="theme-text">testName</mat-label>
                        <input class="theme-text"
                        [(ngModel)]="questionPaper.test"
                        type="text" placeholder="enter name of Test" 
                        name="testName" matInput
                        required
                        >
                        </mat-form-field>
    
                <mat-form-field class="w40"  appearance="outline">
                    <mat-label class="theme-text">subjectCode</mat-label>
                    <input class="theme-text"
                    [(ngModel)]="questionPaper.subjectCode"
                    type="text" placeholder="enter subject code" 
                    name="subjectCode" matInput
                    required
                    >
                    </mat-form-field>
                    </div>
                    <div class="w100">
                        <mat-form-field class="w40" style="margin-right: 10px;" appearance="outline">
                            <mat-label class="theme-text">Faculty</mat-label>
                            <input class="theme-text"
                            [(ngModel)]="questionPaper.faculty"
                            type="text" placeholder="enter name of faculty" 
                            name="Faculty" matInput
                            required
                            >
                            </mat-form-field>
        
                    <mat-form-field class="w40"  appearance="outline">
                        <mat-label class="theme-text">Time</mat-label>
                        <input class="theme-text"
                        [(ngModel)]="questionPaper.time"
                        type="text" placeholder="enter Test Duration" 
                        name="Time" matInput
                        required
                        >
                        </mat-form-field>
                        </div>
                        <div class="w100">
                            <mat-form-field class="w40" style="margin-right: 10px;" appearance="outline">
                                <mat-label class="theme-text">Note</mat-label>
                                <input class="theme-text"
                                [(ngModel)]="questionPaper.note"
                                type="text" placeholder="enter note" 
                                name="Note" matInput
                                required
                                >
                                </mat-form-field>
            
                        <mat-form-field class="w40"  appearance="outline">
                            <mat-label class="theme-text">maxMarks</mat-label>
                            <input class="theme-text"
                            [(ngModel)]="questionPaper.maxMarks"
                            type="text" placeholder="enter Maximum Marks" 
                            name="maxMarks" matInput
                            required
                            >
                            </mat-form-field>
                            </div>
            </form>
            <div class="container text-center">
                <button mat-raised-button color="primary" class="button" (click)="updateQuestionPaper()">Update</button>
            </div>
            
            </div>
            </div>
            </div>
</mat-card>
