<div class="bootstrap-wrapper">
    <div class="container-fliud">
        <div class="row">
            <div class="col-md-4" *ngFor="let q of quizzes" >
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="image"></div>
                        <mat-card-title>
                            {{q.title}}
                        </mat-card-title>
                        <mat-card-subtitle>
                            {{q.category.title}}
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                       <p class="truncate">{{q.description}}</p>
                    </mat-card-content>
                    <mat-card-actions class="mt-4">
                        <button mat-button>View</button>
                        <button mat-button color="primary" style="margin-left: 2px;">Start</button>
                        <button mat-button color="warn" style="margin-left: 2px;">Max Marks: {{q.maxMarks}}</button>
                        <button mat-button color="warn" style="margin-left: 2px;">Questions: {{q.numberOfQuestions}}</button>

                    </mat-card-actions>
                </mat-card>
                
            </div>
            <div class="col-md-12 text-center" *ngIf="quizzes.length==0">
                <mat-card>
                    <mat-card-content>
                        <h2>No Quizzes Available For This Category!!</h2>
                    </mat-card-content>
                    
                </mat-card>
            </div>
        </div>
    </div>
</div>
