<p>
  <mat-toolbar style="background-color: #333;color: white;">
    <button (click)="toggleSidebar()" mat-icon-button>
      <mat-icon>menu</mat-icon>
  </button>
    <span *ngIf="isLoggedIn" style="margin-left: 5px;">
      Welcome {{login.getUser().username}}
    </span>
   
    <span class="example-spacer"></span>
    <a mat-icon-button
    *ngIf="!isLoggedIn" 
    routerLink="/login"
    class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>login</mat-icon>
  </a>
    <a mat-icon-button
    *ngIf="!isLoggedIn"  
    routerLink="/signup"
    class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>app_registration</mat-icon>
    </a>

      <div class="theme-control">

        @if (this.themeService.themeSignal()==='dark') {
          <button mat-icon-button (click)="toggleTheme()">
            <mat-icon >light_mode</mat-icon>
           </button>
        }
        @else {
          <button mat-icon-button (click)="toggleTheme()">
            <mat-icon>dark_mode</mat-icon>
            </button>
          }
      </div>

      <a mat-icon-button
      *ngIf="isDarkTheme" 
    href="https://github.com/magnet107/Exam_Management_System" target="_blank"
    class="example-icon" aria-label="Example icon-button with share icon">
     <mat-icon ><img src="../../../assets/github-mark-white.png" id="github-icon"></mat-icon> 
    </a>
    <a mat-icon-button
    *ngIf="!isDarkTheme" 
  href="https://github.com/magnet107/Exam_Management_System" target="_blank"
  class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon ><img src="../../../assets/github-mark.svg" id="github-icon"></mat-icon> 
  </a>

    <a mat-icon-button
    (click)="logout()"
    *ngIf="isLoggedIn"  
    routerLink="/signup"
    class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </a>

  

  </mat-toolbar>
</p>