.dark{
    background-color: #333 !important;
    min-height: 100vh;
  }

  .dark .mat-card{
    background-color: white !important;
    color: black !important;
  }

  .dark .theme{
    color: white !important;
    background-color: #333 !important;
  }

.light {
    background-color: #fff !important;
  }

.light .theme{
  color: black !important;
  background-color: white !important;
}

  .light .mat-card {
    background-color: #333 !important;
    color: white !important;
  }

.light .mat-toolbar{
  background-color: white !important;
  color: black  !important;
}

.light .example-icon #github-icon {
  --github-icon-path: url(../../Frontend/src/assets/github-mark.svg);
}