<div class="bootstrap-wrapper">
<div class="container" *ngIf="questions && questions.length > 0" >
    <h2 class="theme" style="text-align: center;">Questions</h2>
    <mat-card class="mat-card" *ngFor="let question of questions">
    <mat-card-content>
        <p><strong>Marks:</strong> {{ question.marks }}</p>
                <p><strong>CO:</strong> {{ question.co }}</p>
                <p><strong>BTL:</strong> {{ question.btl }}</p>
                <p><strong>Question Content:</strong> {{ question.questionContent }}</p>
                <div class="sub-questions" *ngIf="question.subQuestions && question.subQuestions.length > 0">
                  <h3 class="theme" style="text-align: center;">Sub-Questions</h3>
                  <div *ngFor="let subQuestion of question.subQuestions">
                    <p><strong>Marks:</strong> {{ subQuestion.marks }}</p>
                    <p><strong>CO:</strong> {{ subQuestion.co }}</p>
                    <p><strong>BTL:</strong> {{ subQuestion.btl }}</p>
                    <p><strong>Question Content:</strong> {{ subQuestion.questionContent }}</p>
                    <mat-card-actions>
                      <button mat-button [routerLink]="['/adminDashboard/updateSubQuestion', subQuestion.qid]" color="primary">Update</button>
                      <button mat-button color="warn" (click)="deleteSubQuestion(subQuestion.qid)">Delete</button>
                    </mat-card-actions>
                  </div>
                </div>
        
              </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/adminDashboard/updateQuestionsOfQuestionPaper', questionPaperId, question.qid]" color="primary">Update</button>

      <button mat-button  color="warn" (click)="deleteQuestion(question.qid)" >Delete</button>
    </mat-card-actions>
    </mat-card>
</div>

    <div *ngIf="!questions || questions.length === 0">
      <h2 class="theme-text">
        <p style="text-align: center;font-size: larger;margin-top: 5px;font-weight: bold;">No questions found for this question paper</p>
      </h2>
      
    </div>
    <button  mat-raised-button color="primary" [routerLink]="['/adminDashboard/addQuestionsToQuestionPaper',questionPaperId]" style="margin-top: 10px;margin-left: 550px;margin-bottom: 5px;" >Add</button>
    <input type="file" (change)="handleFileInput($event)" #fileInput style="display: none;" id="fileInput">

<button mat-raised-button color="warn" [disabled]="isImporting" (click)="fileInput.click()" style="margin-top: 10px;margin-left: 10px;margin-bottom: 5px;" >
  Import
</button>

    
    

  